<h1 class="title"><%= @artist.name %></h1>
  <div class="ui four item menu">
    <%= link_to "Home", billboards_path, class: "item" %>

<% if params[:billboard_id] %>

  <% @billboard = Billboard.find(params[:billboard_id]) %>
  <%= link_to "Back", billboard_artists_path(@billboard), class: "item" %></li>
    <%= link_to "Edit Artist", edit_billboard_artist_path(@billboard, @artist),
    class: "item" %></li>
    <%= link_to "Delete Artist", artist_path(@artist), method: :delete,
    data: { confirm: "Are you sure?" }, class: "item" %>
  </div>

<% else %>

      <%= link_to "Back", artists_path, class: "item" %>
    <%= link_to "Edit Artist", edit_artist_path(@artist),
    class: "item" %>
    <%= link_to "Delete Artist", artist_path(@artist), method: :delete,
    data: { confirm: "Are you sure?" }, class: "item" %>
  </div>
  
<% end %>

<div class="ui segment">
  <h2 class="ui center aligned header"> 
    Genre: <%= "#{@artist.genre}" %> 
  </h2> 
</div>