<h1 class="title"><%= @artist.name %></h1>

<ul class="nav_bar">
  <li><%= link_to "Home", billboards_path, class: "nav_bar_button" %></li>
    <li><%= link_to "Back", billboard_artists_path(@billboard), class: "nav_bar_button" %></li>
  <li><%= link_to "Edit Artist", edit_billboard_artist_path(@billboard, @artist),
   class: "nav_bar_button" %></li>
  <li><%= link_to "Delete Artist", billboard_artist_path(@billboard), method: :delete,
  data: { confirm: "Are you sure?" }, class: "nav_bar_button" %></li>
</ul>