<h1 class="title"><%= @artist.name %></h1>
  <ul class="nav_bar">
    <li><%= link_to "Home", billboards_path, class: "nav_bar_button" %></li>
<% if params[:billboard_id] %>
  <% @billboard = Billboard.find(params[:billboard_id]) %>
  <li><%= link_to "Back", billboard_artists_path(@billboard), class: "nav_bar_button" %></li>
    <li><%= link_to "Edit Artist", edit_billboard_artist_path(@billboard, @artist),
    class: "nav_bar_button" %></li>
    <li><%= link_to "Delete Artist", artist_path(@artist), method: :delete,
    data: { confirm: "Are you sure?" }, class: "nav_bar_button" %></li>
  </ul>
<% else %>
      <li><%= link_to "Back", artists_path, class: "nav_bar_button" %></li>
    <li><%= link_to "Edit Artist", edit_artist_path(@artist),
    class: "nav_bar_button" %></li>
    <li><%= link_to "Delete Artist", artist_path(@artist), method: :delete,
    data: { confirm: "Are you sure?" }, class: "nav_bar_button" %></li>
  </ul>
<% end %>