<h1 class="title"><%= @billboard.name %> - <%= @billboard.genre %></h1>
<ul class="nav_bar">
  <li><%= link_to "Home", billboards_path, class: "nav_bar_button" %></li>
  <li><%= link_to "Edit", edit_billboard_path(@billboard), class: "nav_bar_button" %></li>
  <li><%= link_to "Delete Billboard", billboard_path(@billboard), method: :delete,
    data: { confirm: "Are you sure?" }, class: "nav_bar_button" %></li>
</ul>

<br>
<h1 class="title"><%= link_to "Artists Chart", billboard_artists_path(@billboard), 
  class: "billboard_name" %></h1>